/.github                export-ignore
/.run                   export-ignore
/openapi                export-ignore
/tests                  export-ignore
/.editorconfig          export-ignore
/.env.github            export-ignore
/.env.testing           export-ignore
/.env.secret            export-ignore
/.env.secret.dist       export-ignore
/.gitattributes         export-ignore
/.gitignore             export-ignore
/.wp-env.json           export-ignore
/behat.yml              export-ignore
/codeception.dist.yml   export-ignore
/composer.json          export-ignore
/composer.lock          export-ignore
/CONTRIBUTING.md        export-ignore
/package.json           export-ignore
/example-plugin.php     export-ignore
/package-lock.json      export-ignore
/patchwork.json         export-ignore
/phpcs.xml              export-ignore
/phpstan.neon           export-ignore
/phpstanbootstrap.php   export-ignore
/phpunit.xml.dist       export-ignore
/README.md              export-ignore
/wp-cli.wp-env.yml      export-ignore
/wp-cli.yml             export-ignore