parameters:
    level: 8
    paths:
        - includes
        - development-plugin
        - tests
    excludePaths:
        - development-plugin/vendor/*
        - tests/_support/_generated/*
    bootstrapFiles:
#        - development-plugin/autoload.php
        - phpstanbootstrap.php
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    scanDirectories:
        - wp-content/plugins
        - vendor/wp-cli
    scanFiles:
        - vendor/antecedent/patchwork/Patchwork.php
    ignoreErrors:
        - '#LoggerInterface\|null#'
        - # Parameter #2 $callback of static method WP_Mock::expectActionAdded() expects (callable(): mixed)|Mockery\Matcher\Type|string, array{Mockery\Matcher\Type, 'register_post_type'} given.
          identifier: argument.type
          path: tests/unit/class-bh-wp-private-uploads-hooks-Unit-Test.php
