parameters:
    level: 8
    paths:
        - src
        - test-plugin
    excludePaths:
        - test-plugin/vendor/*
    bootstrapFiles:
        - test-plugin/autoload.php
        - phpstanbootstrap.php
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    scanDirectories:
        - wp-content/plugins
        - vendor/wp-cli
    scanFiles:
        - vendor/antecedent/patchwork/Patchwork.php
    ignoreErrors:
        - '#LoggerInterface\|null#'
