name: Integration

# Runs integration tests.
#
# vendor/bin/codecept run integration
#
# @author BrianHenryIE

on: ["push"]

jobs:

  ci:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: bh_wp_private_uploads_tests
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    strategy:
      matrix:
        php: [ '8.0', '8.1', '8.2', '8.3' ,'8.4' ]

    steps:

      - name: Git checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Read .env.testing
        uses: c-py/action-dotenv-to-setenv@v2
        with:
          env-file: .env.testing

      - name: Install sponge
        run: sudo apt-get install moreutils

      - name: Install PHP dependencies
        run: composer install --verbose

      - name: Install JS dependencies
        run: npm install

      - name: Build JS
        run: npm run build

      - name: Setup test environment
        run: cp .env.testing .env

      - name: Run integration tests
        run: vendor/bin/codecept run integration # --report // TODO: GitHub Actions printer.
